<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.linuxcomp.apps.hstester.hstester">

    <!-- uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" / -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.linuxcomp.apps.hstester.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="ru.linuxcomp.apps.hstester.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="ru.linuxcomp.apps.hstester.AboutActivity"
            android:label="@string/about"
            android:parentActivityName="ru.linuxcomp.apps.hstester.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.linuxcomp.apps.hstester.MainActivity" />
        </activity>
        <activity android:name="ru.linuxcomp.apps.hstester.LinuxComp_Social"></activity>
    </application>

</manifest>